body{

text-align:center;
font-family:Arial;

}


#mic{

position:fixed;

bottom:30px;

right:30px;


width:90px;

height:90px;


border-radius:50%;


font-size:45px;


background:blue;

color:white;


border:none;


cursor:pointer;


z-index:999999;

}
